.add-products {
  padding-left: 20px;
  padding-right: 20px;
}

.add-products__title {
  font-size: 24px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 4px;
  padding-bottom: 35px;
  font-weight: 400;
  border-bottom: 1px solid #cdcdcd;
}
