.add-products {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.add-products__title {
  font-size: 24px;
  line-height: 24px;
  margin-top: 26px;
  margin-bottom: 4px;
  padding-bottom: 34px;
  font-weight: 400;
  border-bottom: 1px solid #cdcdcd;
}

.add-products__promo {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 290px;
  width: 100%;
  margin-top: 40px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $master-color;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .add-products__promo {
      background-image: url("../../img/gift-photo-mobile@2x.jpg");
    }
}

.add-products__promo-text {
  position: relative;
  margin-top: 65px;
  margin-bottom: 0;
  width: 150px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .add-products {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
  }


  .add-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 36px;
    margin-bottom: 46px;
    padding-left: 35px;
    border-bottom: none;

  }

  .add-products__promo {
    min-height: 200px;
    margin-top: 70px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .add-products__promo {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {

  .add-products {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 85px;
  }

  .add-products__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
  }

  .add-products__promo {
    min-height: 290px;
    margin-top: 0;
    width: 20%;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .add-products__promo {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }


  .add-products__title {
    width: 340px;
    margin-top: 47px;
    padding: 0 35px 34px 40px;
  }
}
