.add-products {
  padding-left: 20px;
  padding-right: 18px;
  margin-bottom: 34px;
}

.add-products__title {
  display: inline-block;
  position: relative;
  padding-right: 22px;
  font-size: 24px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 4px;
  padding-bottom: 16px;
  font-weight: 400;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 3px;
    background-color: $master-color;
    z-index: -1;
    top: 14px;
  }
}

.add-products__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  width: 100%;
  margin-top: 40px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $master-color;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .add-products__promo {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

.add-products__promo-img {
  margin-top: 65px;
  height: 60px;
  width: 60px;
  fill: #ffffff;
}

.add-products__promo-text {
  position: relative;
  margin-top: 62px;
  margin-right: 3px;
  margin-bottom: 0;
  width: 170px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .add-products {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
  }


  .add-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 23px;
    margin-bottom: 50px;
    padding-left: 36px;
    padding-right: 35px;
    border-bottom: none;

    &::before {
      top: 22px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 3px;
      background-color: $master-color;
      z-index: -1;
      top: 22px;
      left: -100px;
    }
  }

  .add-products__promo {
    min-height: 200px;
    margin-top: 70px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .add-products__promo {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add-products__promo-img {
    margin-top: 0;
    padding-left: 88px;
    padding-bottom: 10px;
    height: 60px;
    width: 60px;
  }

  .add-products__promo-text {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
    padding-right: 112px;
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .add-products {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 85px;
  }

  .add-products__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 35px;
  }

  .add-products__promo {
    flex-direction: column;
    justify-content: space-around;
    min-height: 290px;
    margin-top: 0;
    width: 20.4%;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .add-products__promo {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }


  .add-products__title {
    width: 340px;
    margin-top: 30px;
    margin-bottom: 46px;
    padding: 0 35px 34px 38px;
  }

  .add-products__promo-img {
    padding: 0;
    margin-top: 32px;
  }

  .add-products__promo-text {
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
  }
}
