.additionally-wrapper {
  margin: 0 20px 29px 20px;
}

.additionally {
  border: none;
  margin: 0;
  padding: 0;
}

.additionally__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 26px;
  padding-right: 20px;
  position: relative;
  background-color: #ffffff;

  &::before {
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $master-color;
    position: absolute;
    top: 13px;
    z-index: -1;
  }
}

.additionally__container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.additionally__container p {
  margin-bottom: 10px;
}

.additionally__text {
  position: relative;
  width: 45%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0 10px 45px;
  margin-bottom: 25px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    height: 28px;
    width: 28px;
    border: 1px solid #cfcfcf;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.additionally__check:focus + .additionally__text::before {
  border: 1px solid #bababa;
}

.additionally__check:focus + .additionally__text {
  outline: 1px solid #bababa;
}

input[type=checkbox]:checked + .additionally__text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  border-right: 2px solid $master-color;
  border-bottom: 2px solid $master-color;
  left: 10px;
  top: 7px;
  transform: rotate(45deg);
}

@media (min-width: $tablet-width) {

  .additionally-wrapper {
   margin: 0 0 28px 0;
  }

  .additionally__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additionally__container p {
    box-sizing: border-box;
    width: 48.7%;
    padding: 0 37px;
    margin-bottom: 36px;
  }

  .additionally__title {
    padding: 0 40px 0 37px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 52px;

    &::before {
      top: 23px;
    };

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-color: $master-color;
      position: absolute;
      top: 23px;
      left: -100px;
      z-index: -1;
    }
  }

  .additionally__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;

    &::before {
      left: 2px;
      bottom: -8px;
      height: 38px;
      width: 38px;
    }
  }

  input[type=checkbox]:checked + .additionally__text::after {
    width: 10px;
    height: 20px;
    border-right: 1px solid $master-color;
    border-bottom: 1px solid $master-color;
    left: 17px;
    top: 11px;
    transform: rotate(45deg);
  }
}

@media (min-width: $desktop-width) {

  .additionally__title {
    padding-left: 39px;
  }

  .additionally__container p {
    width: 25%;
    padding-left: 38px;
  }

  .additionally-wrapper {
    margin-bottom: 35px;
  }
}
