.advantage__wrapper {

}

.advantage__head {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-right: 55px;
}

.advantage__list {
  min-width: 280px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
}

.advantage__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 60px;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 20px;

  &::before {
    content:"";
    flex-shrink: 0;
    margin-right: 20px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $master-color;
  }

  &-usefully::before {
    background-image: url("../../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &-powder::before {
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &-change::before {
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &-time::before {
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
/*
.advantage__wrapper-icon {
  width: 60px;
  height: 60px;
  background-color: $master-color;
  justify-content: center;
}

.advantage__description {
  min-width: 200px;
  padding-left: 20px;
  margin: 0;
  margin-left: 20px;
}*/

@media (min-width: $tablet-width) {

  .advantage__head {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 70px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantage__item {
    display: block;
    width: 46%;
    min-height: 230px;
    margin-bottom: 85px;

    &:nth-last-child(1),
     :nth-last-child(2) {
       margin-bottom: 60px;
     }

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }
  }

  .advantage__description {
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: $desktop-width) {
  .advantage__head {
    margin-left: 110px;
  }

  .advantage__list {
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
    flex-direction: row;
  }

  .advantage__item {
    width: 20%;
  }
}
