.advantage__head {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 32px;
  padding-right: 55px;
}

.advantage__list {
  min-width: 280px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-bottom: 42px;
}

.advantage__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
  min-height: 60px;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 20px;

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $master-color;
    background-size: 50px 50px;
  }

  &--usefully::before {
    background-image: url("../../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--powder::before {
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--change::before {
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--time::before {
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .advantage__item {
    &-usefully::before {
      background-image: url("../../img/advantage-leaf@2x.png");
    }

    &-powder::before {
      background-image: url("../../img/advantage-powder@2x.png");
    }

    &-change::before {
      background-image: url("../../img/advantage-dining@2x.png");
    }

    &-time::before {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }
}

.advantage__description {
  margin: 0;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .advantage__head {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 55px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    counter-reset: section;
  }

  .advantage__item {
    position: relative;
    display: block;
    width: 46%;
    min-height: 230px;
    margin-bottom: 88px;

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 33px;
    }

    &::after {
      position: absolute;
      counter-increment: section;
      content: counter(section);
      font-size: 281px;
      line-height: 281px;
      right: 78px;
      top: -40px;
      color: #f2f2f2;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
    }

    &:nth-child(1)::after {
      right: 95px;
    }
  }

  .advantage__description {
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    margin: 0 70px;
  }

  .advantage__head {
    margin-left: 40px;
  }

  .advantage__list {
    padding: 0;
    margin-left: 40px;
    margin-right: 20px;
    flex-direction: row;
    border-bottom: none;
    margin-bottom: 48px;
  }

  .advantage__item {
    width: 20.3%;
    margin-bottom: 0;

    &::after {
      font-size: 281px;
      line-height: 281px;
      right: 0;
      top: -40px;
    }

    &:nth-child(1)::after {
      right: 20px;
    }
  }

  .advantage__item::after:nth-last-child(1) {
    right: 20px;
  }
}
