.advantage__wrapper {

}

.advantage__head {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-right: 55px;
}

.advantage__list {
  min-width: 280px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
}

.advantage__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 60px;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 20px;
/*
  &::before {
    content:"";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $master-color;
  }

  &--usefully::before {
    background-image: url("../../img/advantage-leaf@1x.png");
    background-position: center;
  }

  &--powder::before {
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center;
  }

  &--change::before {
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center;
  }

  &--time::before {
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center;
  }*/
}

.advantage__wrapper-icon {
  width: 60px;
  height: 60px;
  background-color: $master-color;
  justify-content: center;
}

.advantage__description {
  min-width: 200px;
  /*padding-left: 20px;*/
  margin: 0;
  margin-left: 20px;
}
