.cat__information--wrapper {
  border: none;
  padding: 0 20px 10px 20px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.cat__information--data__box {
  width: 100%;
}

.cat__information--border {
  padding: 16px 20px 11px 65px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 28px;
}

.cat__text--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  margin-top: 10px;
}

.cat__text {
  margin-right: 15px;
  display: inline-block;
  flex-shrink: 0;
}

.cat__box {
  text-transform: uppercase;
  padding: 13px 15px;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #000000;
  }
}

.cat__information--radio {
  margin-bottom: 5px;
  padding: 10px 0;
  display: block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    top: 3px;
    left: -45px;
  }

  &:hover::before,
  :focus::before {
    border: 1px solid #bcbcbc;
  }

  &:active::before {
    opacity: 0.3;
  }
}

input[type="radio"]:checked + .cat__information--radio {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -36px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $master-color;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.cat__information--check:focus + .cat__information--radio::before {
  border: 1px solid #bcbcbc;
}

@media (min-width: $tablet-width) {
  .cat__information--wrapper {
    padding: 0 37px 0 39px;
  }

  .cat__text--wrapper {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .cat__text {
    margin-right: 16px;
  }

  .cat__box {
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 15px 10px 18px;
  }

  .cat__information--border {
    border: 1px solid #e6e6e6;
    margin: 53px 37px 75px 40px;
    padding: 24px 40px 10px 85px;
  }

  .cat__information--radio {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;

    &::before {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      top: 0;
      left: -59px;
    }
  }

  input[type="radio"]:checked + .cat__information--radio {
    &::after {
      top: 11px;
      left: -48px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .cat__text--wrapper {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .cat__information--border {
    padding: 24px 42px 11px 86px;
    margin: 0;
  }

  .cat__information--wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .cat__information {
    width: 50%;
    padding: 0 40px 0 41px;
  }
}
