.cat-owner__wrapper {
  margin: 0 20px 13px 20px;
}

.cat-owner {
  border: none;
  padding: 0;
  margin: 0;
}

.cat-owner__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
  position: relative;
  background-color: #ffffff;
  padding-right: 20px;
  width: 205px;

  &::before {
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $master-color;
    position: absolute;
    top: 12px;
    z-index: -1;
  }
}

.cat-owner__title span {
  position: relative;
}

.cat-owner__container-text {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-owner__text {
  flex-shrink: 0;
  margin-right: 10px;
}

.cat-owner__box {
  width: 100%;
  text-transform: uppercase;
  padding: 13px 15px;
  width: 100%;
  border: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {

  .cat-owner__wrapper {
    margin: 0;
  }

  .cat-owner {
    margin-bottom: 45px;
  }

  .cat-owner__container {
    margin: 0 36px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cat-owner__container-text {
    margin-bottom: 20px;
  }

  .cat-owner__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 38px;
    padding-right: 42px;
    margin-bottom: 77px;
    width: 600px;

    &::before {
      top: 23px;
    };

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-color: $master-color;
      position: absolute;
      top: 23px;
      left: -100px;
      z-index: -1;
    }
  }

  .cat-owner__text {
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
  }


  .cat-owner__box {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 15px 10px 19px;
  }

  .text-tel {
    margin-right: 15px;
  }
}

@media (min-width: $desktop-width) {

  .cat-owner__title {
    margin-bottom: 75px;
    max-width: 595px;
   }

  .cat-owner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cat-owner__container-text {
    width: 46.7%;
  }
}
