.catalog__list {
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

.catalog__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
  /*margin-top: 20px;*/
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 42%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: none;
  }
}

@media (min-width: $desktop-width) {

  .catalog {
    margin: 0 70px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    padding: 0;
    margin-right: 3.1%;
    margin-left: 3.1%;
    width: 19.1%;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
