.catalog-list {
  margin-right: 20px;
  margin-left: 20px;
}

.catalog__item {
  margin-bottom: 35px;
}

.catalog__item-name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__property {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  background-color: #68b738;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}
