.categories__list {
  margin-top: 0;
  padding: 0;
}

.categories__item {
  min-width: 280px;
  background-color: #f2f2f2;
  list-style: none;
  padding-bottom: 19px;
  margin: 0 20px 19px 20px;
}

.categories__item-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 90px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $master-color;
  }
}

.categories__item-title--diet::after {
  content: url("../img/icon-cat-slim.svg");
  display: block;
  position: absolute;
  top: 23px;
  left: 29px;
  width: 35px;
  height: 50px;
}

.categories__item-title--force::after {
  content: url("../img/icon-cat-pro.svg");
  display: block;
  position: absolute;
  top: 35px;
  left: 12px;
  width: 68px;
  height: 35px;
}

.categories__item-description {
  position: relative;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 22px;
  margin-bottom: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", "Helvetica", sans-serif;
}

.categories__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 0 0 0 19px;
  z-index: 1;
  background-color: #f2f2f2;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 11px;
    width: 23px;
    height: 11px;
    top: 6px;
    left: 117px;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      width: 32px;
      height: 12px;
      top: 5px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  & span {
    padding-right: 13px;
    z-index: 1;
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .categories__list {
    margin-bottom: 43px;
  }

  .categories__item {
    padding-left: 52px;
    padding-bottom: 60px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 31px;
  }

  .categories__item-title {
    font-size: 36px;
    line-height: 37px;
    padding-top: 75px;
    padding-left: 0;
    margin-bottom: 26px;
    text-align: left;

    &::before {
      content: "";
      top: 90px;
      right: 60px;
      left: initial;
      width: 200px;
      height: 200px;
    }
  }

  .categories__item-title--diet::after {
    top: 80px;
    right: 91px;
    left: initial;
    width: 140px;
    height: 200px;
  }

  .categories__item-title--force::after {
    top: 135px;
    right: 28px;
    left: initial;
    width: 268px;
    height: 160px;
  }


  .categories__item-description {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 34px;
    line-height: 24px;
    width: 57%;
    border: none;
  }

  .categories-up__item-description {
    width: 52.4%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;

    &::after {
      left: 127px;
      top: 10px;
    }

    & span {
      padding-right: 23px;
    }

    &:hover::after {
      top: 9px;
    }
  }

  .categories__link--slim::after {
    left: 132px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    max-width: 1300px;
    margin: 0 auto;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 42px 40px;
  }

  .categories__item {
    padding-left: 52px;
    margin-left: 0;
    margin-right: 0;
    width: 42.5%;
  }

  .categories__item-description {
    width: 95%;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .categories__item-title {
    margin-left: 163px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 37px;
    padding-top: 75px;
    padding-left: 0;
    text-align: left;

    &::before {
      content: "";
      top: 46px;
      right: initial;
      left: -162px;
      width: 100px;
      height: 100px;
    }
  }

  .categories__item-title--diet::after {
    top: 40px;
    right: initial;
    left: -147px;
    width: 70px;
    height: 110px;
  }

  .categories__item-title--force::after {
    top: 68px;
    right: initial;
    left: -181px;
    width: 135px;
    height: 60px;
  }
}
