.categories__list {
  margin-top: 0px;
  padding: 0;

}

.categories__item {
  min-width: 280px;
  background-color: #f2f2f2;
  list-style: none;
  padding-bottom: 21px;
  margin: 0 20px 20px 20px;
}

.categories__item-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 90px;
  margin-top: 0;
  margin-bottom: 30px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $master-color;
  }
}

.categories__item--diet::before {

}

.categories__item-description {
  margin-top: 0;
  margin-left: 21px;
  margin-right: 22px;
  margin-bottom: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}

.categories__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 0 13px 0 20px;
  z-index: 1;
  background-color: #f2f2f2;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../../img/icon-right-arrow-verylong.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 37px;
    height: 12px;
    z-index: -1;
    top: calc(50% - 12px / 2);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  &:hover,
  &:focus {
    &::after {
      transform: translateX(20px);
    }
  }

}

@media (min-width: $tablet-width) {

  .categories__list {
    margin-bottom: 50px;
  }

  .categories__item {
    padding-left: 52px;
    padding-bottom: 60px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;

/*
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 60px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $master-color;
    }*/
  }

  .categories__item-title {
    font-size: 36px;
    line-height: 37px;
    padding-top: 75px;
    padding-left: 0;
    margin-bottom: 25px;
    text-align: left;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 60px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $master-color;
    }
  }

  .categories__item-description {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 35px;
    line-height: 24px;
    width: 57%;
    border:none;
  }

  .categories-up__item-description {
    width: 52%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 40px;
  }

  .categories__item {
    margin-left: 0;
    margin-right: 0;
    width: 42.5%;
  }

  .categories__item-title {
    margin-left: 160px;
    margin-bottom: 75px;
  }

  .categories__item-description {
    width: 95%;
    margin-bottom: 15px;
  }
}
