.comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat-comparison {
  display: block;
  /*margin-left: -20px;*/
  margin: 0 auto;
}

.cat-after {
  display: none;
}

.comparison__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 37px 0 43px;
  align-items: center;
  max-width: 200px;
  padding: 32px 0;
}

.comparison__btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  padding: 0;
}

.comparison__progress-line {
  position: relative;
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 50px;

  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: $master-color;
    border-radius: 50px;
    top: 4px;
    left: 6px;
  }
}
