.comparison__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison__cat {
  display: block;
  margin: 0 auto;
}

.comparison__cat--after {
  display: none;
}

.comparison__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 58px 0 63px;
  align-items: center;
  padding: 32px 0 35px 0;
}

.comparison__btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

.comparison__progress-line {
  position: relative;
  width: 82px;
  height: 12px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 50px;
}

.line-circle {
  width: 0;


  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: $master-color;
    border-radius: 50px;
    top: 3px;
    left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .comparison {
    padding: 0 30px 45px 30px;
    position: relative;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
      width: 100%;
      height: 462px;
    }
  }

  .comparison__image {
    position: relative;
    height: 560px;
    margin-top: 25px;
    margin-left: 12px;
  }

  .comparison__cat {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .comparison__cat--before {
    clip: rect(auto, 340px, auto, auto);
  }

  .comparison__cat--after {
    display: block;
    clip: rect(auto, auto, auto, 340px);
  }

  .comparison__slider {
    width: 570px;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .comparison__progress-line {
    width: 430px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .line-circle {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    bottom: -15px;
    left: 200px;
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }

    &:hover,
    :focus {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    }

    &:active {
      box-shadow: inset 0 0 0 2px $master-color;
    }
  }

  .comparison__btn {
    height: 30px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    border-bottom: 1px dotted #d9d9d9;

    &:hover,
    :focus {
      border-bottom: 1px solid #d9d9d9;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    margin-right: 0;
    margin-left: auto;
    padding-bottom: 35px;
    background-color: inherit;
    width: 620px;

    &::before {
      display: none;
    }
  }

  .comparison__wrapper {
    margin-left: auto;
    text-align: right;
  }

  .comparison__slider {
    margin-right: 10px;
    margin-left: 40px;
    padding-top: 14px;
  }

  .comparison__image {
    margin-bottom: 20px;
    margin-top: -65px;
    margin-left: 0;
    width: 100%;
    position: relative;
    left: -40px;
  }

  .comparison__cat--before {
    clip: rect(auto, 365px, auto, auto);
  }

  .comparison__cat--after {
    clip: rect(auto, auto, auto, 365px);
  }
}
