.conclusion {
  margin: 0 20px 32px 20px;
}

.conclusion__btn {
  margin-bottom: 22px;
}

.btn__form {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $master-color;
  width: 100%;
  border: none;
}

.conclusion__info {
  line-height: 16px;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
}

@media (min-width: $tablet-width) {
  .conclusion {
    display: flex;
    flex-direction: row;
    margin: 0 72px 48px 70px;
  }


  .btn__form {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 67px 18px 62px;
  }

  .conclusion__info {
    font-size: 16px;
    line-height: 16px;
    margin-right: 102px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .conclusion {
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto 58px auto;
    padding: 0 40px;
  }

  .conclusion__btn {
    width: 50.4%;
    padding-right: 82px;
  }

  .btn__form {
    padding-left: 68px;
  }

  .conclusion__info {
    width: 50%;
    margin-right: 0;
    text-align: left;
  }
}
