.cooperation__wrapper--side {
  background-color: #f2f2f2;
}

.cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 20px 25px 19px;
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 140px;
}

.cooperation__text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  width: 140px;
  margin: 0;
}

.maps {
  height: 365px;
}

@media (min-width: $tablet-width) {

  .cooperation {
    padding: 65px 72px 60px 72px;
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }

  .cooperation__text {
    text-align: right;
    font-size: 16px;
    width: 160px;
  }

  .cooperation__text span {
    display: block;
    margin-top: 20px;
  }

  .maps {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {

  .cooperation__wrapper {
    position: relative;
  }

  .cooperation {
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: 100px;
    width: 570px;
    min-height: 200px;
    padding: 60px 90px 25px 72px;
    background-color: #ffffff;
  }

  .cooperation__text {
    text-align: left;
  }
}
