.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: 400;
}

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  display: block;
  padding-right: 5px;
  margin-bottom: 25px;
  line-height: 18px;
  font-weight: 400;
}

.example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__cost-text {
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 34px;
    margin-bottom: 65px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    padding-right: 10px;
  }

  .example__result {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }

  .example__cost-text {
    font-size: 20px;
    line-height: 20px;
    width: 192px;
    text-align: right;
    margin: 0;
  }

  .example__cost-text span {
    display: block;
    margin-top: 13px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: transparent;
    width: 100%;
  }

  .example__container {
    padding: 0 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 460px;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #f2f2f2 0, #f2f2f2 calc(100% - 395px), #e9e9e9 calc(100% - 395px), #e9e9e9 100%);
      z-index: -1;
    }
  }

  .example__wrapper {
    padding: 0 25px 0 40px;
    width: 33.5%;
    min-width: 415px;
    background-color: transparent;
  }

  .example__title {
    margin-bottom: 73px;
  }

  .example__text {
    width: 100%;
    padding-top: 72px;
    padding-right: 0;
    margin-bottom: 70px;
  }

  .example__result {
    flex-direction: column;
    width: 84%;
  }

  .example__cost {
    width: 100%;
  }

  .example__cost-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    text-align: left;

    span {
      display: inline-block;
    }
  }
}
