.extra__list {
  list-style: none;
  padding-left: 0px;
}

.extra__item {
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.extra__item-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 11px;
}

.extra__item-info {
font-size: 14px;
line-height: 14px;
margin-bottom: 14px;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
border-collapse: collapse;

  & td {
    padding: 0;
  }
}

.extra__item-info td:last-child {
  text-align: right;
}

@media (min-width: $tablet-width) {

  .extra__item {
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 27px;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .extra__item-info {
    font-size: 16px;
    line-height: 20px;
    width: 290px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    padding: 0;
  }

  .extra__item-info td {
    padding: 0;
  }

  .extra__item-info td:last-child {
    width: 95px;
  }

  .extra__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 26px;
    width: 170px;
  }
}

@media (min-width: $desktop-width) {

  .extra {
    margin: 0;
    width: 73%;
  }

  .extra__list {
    margin: 0;
  }

  .extra__item {
    flex-wrap: nowrap;
    align-items: center;
    min-height: 70px;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .extra__item .button__product {
    width: 27%;
    margin-left: 38px;
  }

  .extra__item-info {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .extra__item-info td:first-child {
    width: 245px;
    text-align: left;
  }

  .extra__item-info td:last-child {
    width: 45px;
    text-align: left;
  }
}
