.page-main__title {
  font-size: 36px;
  line-height: 60px;
}

.food-programm {
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: repeat-x;
  background-size: 320px 305px;
  background-position: top center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .food-programm {
      background-image: url(../../img/index-background-mobile@2x.jpg);
    }
}

.food-programm__slogan {
  min-height: 75px;
  min-width: 280px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin: 28px 0 22px 0;
}

.food-programm__intro {
  color: #ffffff;
  min-height: 15px;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0px 25px 0px;
}

.food-programm__image {
  display: block;
  text-align: center;
}

.food-programm__search {
  color: #ffffff;
  background-color: $master-color;
  width: auto;
  text-align: center;
  padding: 12px 0 12px 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: auto;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {

  .food-programm {
    width: 708px;
    padding: 10px 30px 530px 28px;
    margin-bottom: 0;
    background-image: none;
  }

  .food-programm__slogan {
    font-size: 60px;
    line-height: 60px;
    padding-left: 90px;
    margin-bottom: 42px;
    width: 427px;
    color: #000000;
    text-align: left;
  }

  .food-programm__intro {
    width: 427px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 90px;
    margin-bottom: 48px;
    text-align: left;
    color: #000000;
  }

  .food-programm__image{
    position: absolute;
    top: 340px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }

  .food-programm__search {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    width: 245px;
    margin-left: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {

  .food-programm {
    margin-left: 105px;
    padding-bottom: 270px;
    padding-left: 85px;
    background-image: none;
  }

  .food-programm__image {
    right: -250px;
    top: 140px;
  }

  .food-programm__slogan{
    margin-top: 65px;
    margin-bottom: 41px;
    padding-left: 0;
    z-index: 1;
  }

  .food-programm__intro {
    margin-bottom: 53px;
    padding-left: 0;
  }

  .food-programm__search {
    margin-left: 0;
  }
}
