.page-main__title {
  font-size: 36px;
  line-height: 60px;
}

.food-programm {
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.food-programm__slogan {
  min-height: 75px;
  min-width: 280px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin: 28px 0 23px 0;
}

.food-programm__intro {
  color: #ffffff;
  min-height: 15px;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0px 25px 0px;
}

.food-programm__image {
  display: block;
  text-align: center;
}

.food-programm__search {
  color: #ffffff;
  background-color: $master-color;
  min-width: 280px;
  text-align: center;
  padding: 12px 0 12px 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: auto;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {

  .food-programm {
    width: 708px;
    min-height: 870px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: none;
  }

  .food-programm__slogan {
    font-size: 60px;
    line-height: 60px;
    padding-left: 90px;
    margin-bottom: 45px;
    width: 427px;
    color: #000000;
    text-align: left;
  }

  .food-programm__intro {
    width: 427px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 90px;
    margin-bottom: 45px;
    text-align: left;
    color: #000000;
  }

  .food-programm__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .food-programm__search {
    margin-top: 0;
    width: 245px;
    margin-left: 90px;
  }
}

