.main-nav__toggle {
  width: 65px;
  min-height: 65px;
}

.site-list {
  display: flex;
  flex-direction: row;
}

.site-list__item {
  width: 100%;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}
