.owner {
  margin: 0 20px 13px 19px;
}

.owner__wrapper{
  border: none;
  padding: 0;
  margin: 0;
}

.owner__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 33px;
  position: relative;
  background-color: #ffffff;
  padding-right: 20px;
  width: 205px;

  &::before {
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $master-color;
    position: absolute;
    top: 12px;
    z-index: -1;
  }
}

.owner__title span {
  position: relative;
}

.owner__container-text {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner__text {
  flex-shrink: 0;
  margin-right: 11px;
}

.owner__box {
  width: 100%;
  text-transform: uppercase;
  padding: 13px 40px 13px 15px;
  width: 100%;
  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #000000;


    &:invalid {
      outline: 2px solid #ff8282;
    }
  }
}

.owner__box:focus + .owner__icon {
  fill: $master-color;
}

.owner__box:focus:invalid + .owner__icon {
  fill: #ff8282;
}

.owner__icon--mail {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 16px;
}

.owner__icon--phone {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 14px;
}

@media (min-width: $tablet-width) {

  .owner {
    margin: 0;
  }

  .owner__wrapper{
    margin-bottom: 45px;
  }

  .owner__container {
    margin: 0 36px 0 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .owner__container-text {
    margin-bottom: 20px;
  }

  .owner__container-text:nth-child(2) {
    margin-left: -3px;
  }

  .owner__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 42px;
    margin-bottom: 77px;
    width: 600px;

    &::before {
      top: 23px;
    };

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-color: $master-color;
      position: absolute;
      top: 23px;
      left: -100px;
      z-index: -1;
    }
  }

  .owner__text {
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
  }


  .owner__box {
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 15px 10px 19px;
  }

  .text-tel {
    margin-right: 15px;
  }

  .owner__icon--mail {
    right: 20px;
  }

  .owner__icon--phone {
    right: 17px;
  }
}

@media (min-width: $desktop-width) {

  .owner__wrapper {
    margin-bottom: 48px;
  }

  .owner__title {
    margin-bottom: 75px;
    padding-left: 39px;
    max-width: 595px;
   }

  .owner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 39px 0 40px;
  }

  .owner__container-text {
    width: 46.7%;
  }
}
