.page-header {
  min-width: 280px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  width: 190px;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__logo-image {
  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 60px;
  }

  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width: 708px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 22px;
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 53px;
    margin-top: 0;
  }

  .page-header__logo-image {
    width: 202px;
  }
}
