.page-footer {
  background-color: #f2f2f2;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  padding-top: 35px;
  padding-bottom: 25px;
  text-align: center;
  width: 85%;
  border-bottom: 2px solid #e6e6e6;
}

.page-footer__social {
  border-bottom: 2px solid #e6e6e6;
}

.social__list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 85%;
}

.social__item {
  min-height: 60px;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
