.page-footer__wrapper {
  background-color: #f2f2f2;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  padding-top: 34px;
  padding-bottom: 25px;
  text-align: center;
  width: 88%;
  border-bottom: 2px solid #e6e6e6;
}

.page-footer__logo-img {
  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.page-footer__copyright {
  width: 88%;
}

.copyright {
  padding: 18px 0 20px 0;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright:hover .copyright__icon {
  fill: $master-color;
}

.copyright:focus .copyright__icon {
  fill: $master-color;
}

.copyright:active .copyright__icon {
  opacity: 0.6;
}

.copyright:active .copyright__text {
  opacity: 0.6;
}

.copyright__text {
  font-size: 16px;
  color: #666666;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 120px;
  margin-right: 0;
}

.copyright__icon {
  margin-right: -5px;
  height: 40px;
  width: 40px;
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    text-align: left;
    border: none;
    padding: 0 30px;
    width: 23%;
  }

  .page-footer__copyright {
    padding: 0 30px;
    width: 23%;
    text-align: right;
  }

  .copyright {
    justify-content: flex-end;
  }

  .copyright__text {
    margin-right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    background: #f2f2f2;
  }

  .page-footer__wrapper {
    max-width: 1300px;
    box-sizing: border-box;
    padding: 37px 40px 30px 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__logo {
    padding-left: 0;
  }

  .page-footer__copyright {
    padding-right: 0;
  }
}
