.page-header {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  width: 190px;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__logo-image {

  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-list {
  font-weight: 700;
  display: block;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  text-align: center;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border-top: 1px solid #e6e6e6;

  &:hover,
  :focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item:nth-last-child(1) {
  border-bottom: 1px solid #e6e6e6;
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;

  padding-top: 23px;
  padding-bottom: 23px;
  box-sizing: content-box;
}

@media (min-width: $tablet-width) {

  .page-header__logo-image {
    width:192px;
    height: 60px;
    margin-top: 10px;
  }

  .page-header {
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  .main-nav {
    margin-top: 20px;
  }

  .navigation__link {
    padding-bottom: 6px;

    &--active {
      border-bottom: 2px solid $master-color;
    }
  }

  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
  }

  .site-list__item {
    border: none;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  .site-list__item:nth-last-child(1) {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 33px;
    margin-top: 0;
  }

  .main-nav__image {
      &::after {
      content: "";
      background-image: url(../../img/index-background-desktop@1x.jpg);
      width: 50%;
      background-size: cover;
      height: 695px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    .navigation__link {
      color: #ffffff;

      &--active {
        border-bottom: 2px solid #ffffff;
      }
    }
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-nav__image::after {
      background-image: url(../../img/index-background-desktop@2x.jpg);
    }
}

  .site-list {
    line-height: 25px;
    width: 480px;
  }

  .site-list__item {
    font-size: 20px;
  }

  .navigation__link {/*
    color: #ffffff;*/

    &--active {
      border-bottom: 2px solid $master-color;
    }
  }
}
