.page-footer {
  background-color: #f2f2f2;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  border-bottom: 1px solid #e6e6e6;
}

.page-footer__social {
  border-bottom: 1px solid #e6e6e6;
}
