.page-main__title {
  font-size: 36px;
  line-height: 60px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 29px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-top: 30px;
  }

  .page-main__title {
    padding: 40px 40px 30px 40px;
    margin: 0 70px 23px 70px;
  }
}
