.social {
  width: 88%;
  border-bottom: 2px solid #e6e6e6;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 16px 0;
}

.social__link {
  display: inline-block;
}

.social__item {
  width: 55px;
  text-align: center;
}

.social__icon {
  fill: #666666;
}

.social__link:hover,
.social__link:focus {
  .social__icon {
    fill: $master-color;
  }
}

.social__icon--vk {
  height: 13px;
  width: 22px;
}

.social__icon--inst {
  height: 16px;
  width: 16px;
}

.social__icon--fb {
  height: 22px;
  width: 10px;
  margin-left: -2px;
}


@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0 30px;
    width: 23%;
  }

  .social__link {
    width: 100%;
  }

  .social__list {
    padding-top: 17px;
  }

  .social__icon--vk {
    height: 16px;
    width: 34px;
  }

  .social__icon--inst {
    height: 23px;
    width: 23px;
  }

  .social__icon--fb {
    height: 30px;
    width: 15px;
    margin-left: -14px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
