.toggle-menu {
  position: absolute;
  top: 18px;
  right: 16px;
  z-index: 2;
  display: block;
  width: 30px;
  min-height: 25px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.toggle-menu::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 25px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.toggle-menu--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .toggle-menu + .main-nav {
    display: none;
  }

  .toggle-menu--nojs + .main-nav {
    display: block;
  }

  .toggle-menu--opened + .main-nav--opened {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .toggle-menu {
    display: none;
  }
}
