html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  overflow-x: hidden;

  background-color: #ffffff;
}

.button__master-color {
  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}
