body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background-color: #ffffff;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}
